@use '@/globalStyles/variables' as *;
.invoices-page {
  width: 100%;
}
.invoices-page__title {
  font-family: $font-lusitana;
  font-size: 1.5rem;
  line-height: 36px;
  font-weight: 300;
}
.invoices-page__header {
  padding: 20px 0px;
}

.invoices-page__body {
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}
