@use '@/globalStyles/variables.scss' as *;

.nav-link {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
}
.nav-link__list {
  display: flex;
  padding: 8px 36px;
  gap: 5px;
}
.nav-link__list_active {
  border-radius: 10px;
  background: #4256d0;
}
.link-icon {
  width: 25px;
  height: 25px;
  color: $white-color;
}
.link-name {
  margin: 0px;
  font-family: $font-lusitana;
  font-size: 1.3rem;
  color: $white-color;
}
